<ion-header>
  <ion-toolbar>
    <ion-title>
      Populares
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let filme of lista_filmes">

    <ion-item>
      <ion-avatar item-start>
      <img src="img/marty-avatar.png">
    </ion-avatar>
    <h2>{{filme.original_title}}</h2>
      <p>{{filme.release_date}}</p>
  </ion-item>

  <img [src]="'https://image.tmdb.org/t/p/w300/'+filme.backdrop_path">
     
  
    <ion-card-content>
     <p>{{filme.overview}}</p>
    </ion-card-content>

  
  
  </ion-card>
</ion-content>

